{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    About Don't Fret and how to contact us.
{% endblock %}

{% block title %}
    About Us/Contact Us - Don't Fret
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="my_title text-center">About Us/Contact Us</h1>
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center my_customer_div">
                <br>
                <h2 class="my_title">About Us</h2>
                <br>
                <p>Our mission is to sell a whole bunch of guitars and stuff! We love guitars!</p>
                <br>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
                <div>
                    <br>
                    <h2 class="my_title">Contact Us</h2>
                    <p>Address: Don't Fret, 189 Cathedral Street, Glasgow, G4 3RA.</p>
                    <p>Telephone: 0141 4567367</p>
                    <p>Email: services@dontfret.com</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}